API_KEY="12345678"

FLASK_APP="app:create_app"

SECRET_KEY="super-secret-key"
JWT_SECRET_KEY="another-secret-key"

DATABASE_URL="postgresql://user:password@host:port/database"
REDIS_URL="redis://redis:6379/0"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=weather_db